<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/viewpoll">View poll</a>
        </li>
        <li>
            <a href="/makepoll">Make poll</a>
        </li>
    </ul>
</nav>