
<%- include ('./partials/head.ejs') %>
<%- include ('./partials/nav.ejs') %>

<section>
    <h1>Online poll met resultaten</h1>
    <p>Admin kan een poll aanmaken en deze in laten vullen door users, users kunnen de poll invullen
        en de resultaten bekijken</p>
       
    </section>

<section class="home">
   
    <article>
        <a href="/makepoll">
        <h2>Maak een poll</h2>
        <h3>Hier kun je een poll maken</h3>
    </a>
    </article>

    <article>
        <a href="/viewpoll">
        <h2>Bekijk alle polls</h2>
        <h3>Hier kun je de polls bekijken en invullen</h3>
    </a>
    </article>

</section>

 <%- include ('./partials/footer.ejs') %>